html {
    height: 100%;
    overflow: hidden;
}
body {
    background:  #142430;
    color: #ccc;
    text-shadow: 1px 1px 10px #fff;
    text-align: center;
    font-family: "Arial", sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
	perspective: 1px;
	transform-style: preserve-3d;
}

main:before {
  content: "";
  position: absolute;
  top: -190px;
  bottom: 0;
  left:0;
  right:0;
  height: 1450px;
}

#slide:before {
  background-image: url("images/bg.jpg");
  transform: translateZ(-1px) scale(2,2);
  z-index:-1;
}

/* Sections of links */
.main {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 3em;
    align-items: center;
}

/* Link outer box, big enough for hover expand */
section {
    display:inline-block;
    margin: -1em;

    /* Leave enough room for the boxes to grow */
    height: 14.5em;
    width: 20.5em;
}

/* Link inner box which expands on hover */
section div {
    display: block;
    position: relative;
    float: left;

    /* Any time you adjust these you may need to adjust section height & width as well */
    margin: 2.5em;
    padding: 0.5em;
    height: 7em;
    width: 12em;
    border: .75em solid #444;

    border-radius: 2em;
    transition-duration: 300ms;
}
section div:hover {
    border-color: #33478b;
    /* Increases the size of everything! */
    font-size: 130%;
    margin: 0.5em;
    box-shadow: 0em 0em 1em #fff;
}

/* Standard links */
a {
    color: #ccc;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
}
a:hover {
    color: #fff;
}

/* Header menu links */
menu a {
    font-size: 150%;
    font-variant: small-caps;
    letter-spacing: 0.2em;
    transition: color 200ms ease-in;
}

/* Section header */
h1 {
    font-size: 200%;
    font-variant: small-caps;
    letter-spacing: 0.5em;
    transition: color 200ms ease-in;
    text-shadow: 1px 1px 10px #142430;
}

/* Link images */
img {
    display: block;
    height: 80%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
}
img.full {
    height: 100%;
}

/* Link labels */
p {
    margin: 5px 0px 0px 0px;
    padding: 0px;
    border: none;
}

/* Shrink to icons only on small screens */
@media screen and (max-width: 800px) {
    body {
        font-size: 50%
    }
    p {
        height: 0;
        width: 0;
        display: none;
    }
    img {
        height: 100%;
    }
    section div:hover {
        font-size: 150%;
        margin: 1em;
    }
}
